body {
  font-family: $ff-base;

  &:not(.home) {
    background-image: none !important;
  }
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: $color-azul;
  transition: color $trans, background-color $trans;

  &:active,
  &:focus,
  &:hover {
    color: $gray-light-semi;
    transition: color $trans, background-color $trans;
  }
}
