/** Box Model  */
$spacer:                2rem;

// Colors
$color-principal: #002c41;
$color-allo: #f9ae00;
$color-azul: #0179bd;
$color-rojo: #e30000;
$color-verde: #058011;
$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-light-semi: lighten($gray-base, 70%);
$gray-lighter: lighten($gray-base, 93.5%);
$color-nav: #fff;

// padding
$pad: 15px;
$pad-1: $pad;
$pad-2: calc(#{$pad} * 2);
$pad-3: calc(#{$pad} * 3);
$pad-4: calc(#{$pad} * 4);

$ff-serif: pt_serif, serif;
$ff-sans: roboto_condensed, sans-serif;
$ff-base: $ff-sans;

$trans: 0.5s;

// responsive breakpoints
@mixin phone-only {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin phone-landscape {
  @media (min-width: 425px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: 700px) {
    @content;
  }
}

@mixin adminbar {
  @media (min-width: 782px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: 1800px) {
    @content;
  }
}

$ancho-nav-1: 300px;
$ancho-nav-2: 350px;
