.post-type-archive-book {
  article {
    margin-bottom: $pad-2;

    img {
      max-width: 100%;
      height: auto;
    }

    .col-der {
      h2 {
        font-weight: normal;
      }

      .entry-summary {
        font-size: 0.9rem;
      }
    }
  }

  @include tablet-portrait {
    article {
      display: flex;

      .portada {
        margin-right: $pad-2;

        img {
          max-width: 200px;
          height: auto;
        }
      }

      .col-der {
        h2 {
          margin-top: 0;
        }
      }
    }
  }
}
