body.noscroll {
  overflow: hidden;
}

.banner {
  top: 0;
  z-index: 1000;
  font-size: 1.5rem;

  .arriba {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    z-index: 1000;
    transition: background-color $trans, top $trans;

    .brand {
      display: block;
      padding: $pad;
      color: #000;
      font-weight: bold;
      font-size: 2.2rem;

      &.opaco {
        background-color: $color-nav;
      }
    }

    #hamb {
      margin: 27px $pad-2;

      i {
        display: block;
        margin-bottom: 7px;
        width: 30px;
        height: 3px;
        background-color: #000;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.opaco {
      background-color: $color-nav;
    }

    &.hide {
      top: -100px;
    }

    &.con-adminbar {
      margin-top: 46px;

      @include adminbar {
        margin-top: 32px;
      }
    }
  }

  .nav-primary {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 100px $pad-1 $pad-1;
    transition: left $trans;
    background-color: $color-nav;

    #menu-main {
      margin: 0;
      list-style: none;
      padding-left: 0;

      .inner {
        padding-left: 0;
        overflow: hidden;
        display: none;
      }

      .menu-item {
        position: relative;
        list-style-type: none;
        padding-left: 0;

        a {
          color: #000;

          &:hover {
            text-decoration: line-through;
          }
        }

        .inner {
          margin-top: $pad-1;
          margin-bottom: $pad-1;

          li {
            font-size: 1rem;
            line-height: 1.1em;
            margin-bottom: 0.5em;
          }
        }

        &.separador {
          visibility: hidden;
          overflow: hidden;

          &::after {
            display: block;
            position: absolute;
            visibility: visible;
            top: 0.5em;
            content: "";
            width: 15px;
            height: 4px;
            background-color: #000;
          }
        }
      }
    }

    &.closed {
      left: -100%;
    }

    &.open {
      left: 0;
    }

    .mask {
      position: fixed;
      top: 0;
      left: 0;
      height: 100px;
      width: 100%;
      background-color: $color-nav;
      transition: left $trans;

      &.closed {
        left: -100%;
      }

      &.open {
        left: 0;
      }

      &.con-adminbar {
        margin-top: 46px;

        @include adminbar {
          margin-top: 32px;
        }
      }
    }
  }

  @include tablet-landscape {
    .arriba {
      width: $ancho-nav-1;

      #hamb {
        display: none;
      }
    }

    .nav-primary {
      width: $ancho-nav-1;
      background-color: transparent;

      .mask {
        background-color: transparent;
        width: $ancho-nav-1;
        height: 80px;
        transition: background-color $trans;

        &.opaco {
          background-color: $color-nav;
        }
      }
    }
  }

  @include desktop {
    .arriba {
      width: $ancho-nav-2;
    }

    .nav-primary {
      width: $ancho-nav-2;

      .mask {
        width: $ancho-nav-2;
      }
    }
  }
}
