.page,
.archive {
  .content {
    margin-left: $pad-1;
    margin-right: $pad-1;
    padding-top: 100px;
  }

  @include tablet-landscape {
    .content {
      padding-top: $pad-1;
      max-width: 600px;
      margin-left: calc(#{$ancho-nav-1} + #{$pad-1});

      .page-header {
        h1 {
          margin-top: 0;
          font-size: 2.2rem;
        }
      }
    }
  }

  @include desktop {
    .content {
      margin-left: calc(#{$ancho-nav-2} + #{$pad-3});
    }
  }
}
