.single {
  .content {
    padding-top: 100px;

    main {
      article {
        margin-left: $pad-1;
        margin-right: $pad-1;

        img {
          max-width: 100%;
          height: auto;
        }

        header {
          h1 {
            margin-top: 0;
            margin-bottom: 0.4em;
            line-height: 1.25em;
          }

          .ficha {
            line-height: 1.2em;
            font-size: 0.8rem;
            font-weight: bold;
            letter-spacing: 0.02em;
          }
        }

        .gallery {
          .gallery-item {
            margin: $pad-1 0;
          }
        }

        figcaption {
          font-size: 0.8em;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  @include tablet-landscape {
    .content {
      padding-top: 0;

      main {
        article {
          max-width: 600px;
          margin-left: calc(#{$ancho-nav-1} + #{$pad-1});

          header {
            padding-top: $pad-1;
            line-height: 1.25em;
          }
        }
      }
    }
  }

  @include desktop {
    .content {
      main {
        article {
          margin-left: calc(#{$ancho-nav-2} + #{$pad-3});
        }
      }
    }
  }
}
