.page {
  .main {
    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #000;
      }
    }
  }
}
